h1 {
    margin: auto;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 10% 10% 50% 10% 15%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.container > .situazione {
    margin: auto;
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 1;
}

.container > .importo {
    margin: auto;
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 2;
}

.container > button {
    grid-column-start: 2;
    grid-row-start: 4;
}